<body bgcolor =#87CEEB>

<font color = #1C1C1C>

 <FONT SIZE = 25 ><FONT FACE ="Showcard Gothic" > <font color = #FFFF99 > <marquee behavior = slide  width = 100% direction = right  bgcolor = #C71585> 
WELCOME!! EVERYONE!!
</marquee>  </FONT>
<br>
 <FONT SIZE =22 ><font color = #00008B> <center><b> <FONT FACE="Vladimir Script">OIL'S PAGE <font color = #1C1C1C> </b></center> </FONT>
<br>

<img scr =https://narinthip.files.wordpress.com/2012/08/gdtop101.jpg >

<center ><a href="profile.html" target="_blank"><img src="welcome.jpg "></a></center >


<br><FONT SIZE=15> <FONT FACE ="Buxton Sketch" > <center> <b><font color = #CC0000> ENTER TO THE SITE </center> </b></FONT> 




